In [133]:
import pandas as pd

In [135]:
df = pd.read_csv('cricket.csv')

In [137]:
df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7.0,626+,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,NaN,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2.0,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1.0,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2.0,104+,1

In [139]:
#renaming the columns

In [141]:
df = df.rename(columns = {'Mat':'matches','NO':'not_out','HS':'highest_inns_score','BF':'balls_faced','SR':'batting_strike_rate'})

In [143]:
df.head()

,Player,Span,matches,Inns,not_out,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7.0,626+,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,NaN,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2.0,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1.0,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2.0,104+,1

In [145]:
#check the null values

In [147]:
df.isnull().sum()

Player                 0
Span                   0
matches                0
Inns                   0
not_out                0
Runs                   0
highest_inns_score     0
Ave                    0
balls_faced            2
batting_strike_rate    0
100                    0
50                     0
0                      1
4s                     0
6s                     0
dtype: int64

In [149]:
df[df['balls_faced'].isna() == 1]

,Player,Span,matches,Inns,not_out,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,0.0,15,19,6.0,258+,2
15,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,0.0,15,14,1.0,107+,11

In [151]:
df['balls_faced'] = df['balls_faced'].fillna(0)

In [153]:
df[df['Player'] == 'ED Weekes (WI)']
df[df['Player'] == 'CL Walcott (WI)']

,Player,Span,matches,Inns,not_out,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s
15,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,0,0.0,15,14,1.0,107+,11

In [155]:
#drop duplicate

In [157]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
64     True
65     True
66     True
67     True
68     True
Length: 69, dtype: bool

In [159]:
df[df['Player'].duplicated() == 1]

,Player,Span,matches,Inns,not_out,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s
62,IVA Richards (WI),1974-1991,121,182,12,8540,291,50.23,9613+,69.77,24,45,10.0,952+,84
63,IVA Richards (WI),1974-1991,121,182,12,8540,291,50.23,9613+,69.77,24,45,10.0,952+,84
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+
65,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158+,29.11,8,21,3.0,41+,1
66,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158+,29.11,8,21,3.0,41+,1
67,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+
68,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+

In [161]:
df[df['Player'].isin(['IVA Richards (WI)','IVA Richards (WI)','SJ McCabe (AUS)','B Mitchell (SA)','B Mitchell (SA)','SJ McCabe (AUS)','SJ McCabe (AUS)'])]

,Player,Span,matches,Inns,not_out,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s
43,IVA Richards (WI),1974-1991,121,182,12,8540,291,50.23,9613+,69.77,24,45,10.0,952+,84
53,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158+,29.11,8,21,3.0,41+,1
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+
62,IVA Richards (WI),1974-1991,121,182,12,8540,291,50.23,9613+,69.77,24,45,10.0,952+,84
63,IVA Richards (WI),1974-1991,121,182,12,8540,291,50.23,9613+,69.77,24,45,10.0,952+,84
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+
65,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158+,29.11,8,21,3.0,41+,1
66,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158+,29.11,8,21,3.0,41+,1
67,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+
68,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+

In [163]:
df.drop_duplicates()

,Player,Span,matches,Inns,not_out,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7.0,626+,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,NaN,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2.0,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1.0,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2.0,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4.0,525+,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11.0,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1.0,119+,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2.0,53+,0

In [165]:
#split up span into start and end date

In [167]:
df['Span'].str.split(pat = '-').str[1]

0     1948
1     2025
2     2016
3     1970
4     1954
      ...
64    1938
65    1949
66    1949
67    1938
68    1938
Name: Span, Length: 69, dtype: object

In [169]:
df['rookie_year']= df['Span'].str.split(pat = '-').str[0]

In [171]:
df['final_year']= df['Span'].str.split(pat = '-').str[1]

In [173]:
df

,Player,Span,matches,Inns,not_out,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s,rookie_year,final_year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7.0,626+,6,1928,1948
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,NaN,123,23,2022,2025
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2.0,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1.0,246+,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2.0,104+,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+,1930,1938
65,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158+,29.11,8,21,3.0,41+,1,1929,1949
66,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158+,29.11,8,21,3.0,41+,1,1929,1949
67,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+,1930,1938
68,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+,1930,1938

In [175]:
#drop span column

In [177]:
df = df.drop(['Span'],axis = 1)

In [179]:
df

,Player,matches,Inns,not_out,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s,rookie_year,final_year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7.0,626+,6,1928,1948
1,PHKD Mendis (SL),12,21,2,1184,182*,62.31,1839,64.38,5,4,NaN,123,23,2022,2025
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2.0,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1.0,246+,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2.0,104+,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+,1930,1938
65,B Mitchell (SA),42,80,9,3471,189*,48.88,158+,29.11,8,21,3.0,41+,1,1929,1949
66,B Mitchell (SA),42,80,9,3471,189*,48.88,158+,29.11,8,21,3.0,41+,1,1929,1949
67,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+,1930,1938
68,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+,1930,1938

In [181]:
#split up the country from the player

In [183]:
df['Player'].str.split(pat = '(').str[1]

0     AUS)
1      SL)
2     AUS)
3      SA)
4      WI)
      ...
64    AUS)
65     SA)
66     SA)
67    AUS)
68    AUS)
Name: Player, Length: 69, dtype: object

In [185]:
df['country'] = df['Player'].str.split(pat = '(').str[1]

In [187]:
df['country'] = df['country'].str.split(pat = ')').str[0]

In [189]:
df['country']

0     AUS
1      SL
2     AUS
3      SA
4      WI
     ...
64    AUS
65     SA
66     SA
67    AUS
68    AUS
Name: country, Length: 69, dtype: object

In [191]:
df['Player'] = df['Player'].str.split(pat = '(').str[0]

In [193]:
df

,Player,matches,Inns,not_out,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s,rookie_year,final_year,country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7.0,626+,6,1928,1948,AUS
1,PHKD Mendis,12,21,2,1184,182*,62.31,1839,64.38,5,4,NaN,123,23,2022,2025,SL
2,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2.0,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1.0,246+,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270*,60.83,416+,56.00,10,5,2.0,104+,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+,1930,1938,AUS
65,B Mitchell,42,80,9,3471,189*,48.88,158+,29.11,8,21,3.0,41+,1,1929,1949,SA
66,B Mitchell,42,80,9,3471,189*,48.88,158+,29.11,8,21,3.0,41+,1,1929,1949,SA
67,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+,1930,1938,AUS
68,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+,1930,1938,AUS

In [195]:
#change datatype

In [197]:
df.dtypes

Player                  object
matches                  int64
Inns                     int64
not_out                  int64
Runs                     int64
highest_inns_score      object
Ave                    float64
balls_faced             object
batting_strike_rate    float64
100                      int64
50                       int64
0                      float64
4s                      object
6s                      object
rookie_year             object
final_year              object
country                 object
dtype: object

In [199]:
df['highest_inns_score'].str.split(pat = '*').str[0]

0     334
1     182
2     269
3     274
4     270
     ...
64    232
65    189
66    189
67    232
68    232
Name: highest_inns_score, Length: 69, dtype: object

In [201]:
df['highest_inns_score'] = df['highest_inns_score'].str.split(pat = '*').str[0]

In [203]:
df

,Player,matches,Inns,not_out,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s,rookie_year,final_year,country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7.0,626+,6,1928,1948,AUS
1,PHKD Mendis,12,21,2,1184,182,62.31,1839,64.38,5,4,NaN,123,23,2022,2025,SL
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2.0,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1.0,246+,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416+,56.00,10,5,2.0,104+,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+,1930,1938,AUS
65,B Mitchell,42,80,9,3471,189,48.88,158+,29.11,8,21,3.0,41+,1,1929,1949,SA
66,B Mitchell,42,80,9,3471,189,48.88,158+,29.11,8,21,3.0,41+,1,1929,1949,SA
67,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+,1930,1938,AUS
68,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+,1930,1938,AUS

In [205]:
df['highest_inns_score'] = df['highest_inns_score'].astype('int')

In [207]:
df.dtypes

Player                  object
matches                  int64
Inns                     int64
not_out                  int64
Runs                     int64
highest_inns_score       int64
Ave                    float64
balls_faced             object
batting_strike_rate    float64
100                      int64
50                       int64
0                      float64
4s                      object
6s                      object
rookie_year             object
final_year              object
country                 object
dtype: object

In [209]:
df = df.astype({'rookie_year':'int','final_year':'int'})

In [211]:
df.dtypes

Player                  object
matches                  int64
Inns                     int64
not_out                  int64
Runs                     int64
highest_inns_score       int64
Ave                    float64
balls_faced             object
batting_strike_rate    float64
100                      int64
50                       int64
0                      float64
4s                      object
6s                      object
rookie_year              int64
final_year               int64
country                 object
dtype: object

In [213]:
df['matches'] = df['matches'].astype('int')

In [215]:
df.dtypes

Player                  object
matches                  int64
Inns                     int64
not_out                  int64
Runs                     int64
highest_inns_score       int64
Ave                    float64
balls_faced             object
batting_strike_rate    float64
100                      int64
50                       int64
0                      float64
4s                      object
6s                      object
rookie_year              int64
final_year               int64
country                 object
dtype: object

In [217]:
df['career_length'] = df['final_year'] - df['rookie_year']

In [219]:
df

,Player,matches,Inns,not_out,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s,rookie_year,final_year,country,career_length
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7.0,626+,6,1928,1948,AUS,20
1,PHKD Mendis,12,21,2,1184,182,62.31,1839,64.38,5,4,NaN,123,23,2022,2025,SL,3
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2.0,186,5,2015,2016,AUS,1
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1.0,246+,11,1963,1970,SA,7
4,GA Headley,22,40,4,2190,270,60.83,416+,56.00,10,5,2.0,104+,1,1930,1954,WI,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+,1930,1938,AUS,8
65,B Mitchell,42,80,9,3471,189,48.88,158+,29.11,8,21,3.0,41+,1,1929,1949,SA,20
66,B Mitchell,42,80,9,3471,189,48.88,158+,29.11,8,21,3.0,41+,1,1929,1949,SA,20
67,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+,1930,1938,AUS,8
68,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+,1930,1938,AUS,8

In [222]:
#average career length

In [224]:
df['career_length'].mean()

13.072463768115941

In [106]:
#avg botting_strike_rate for ciicket player over 10 years

In [110]:
df[df['career_length'] > 10]['batting_strike_rate'].mean()

47.94127659574469